:root {
    --button-clr: #eead22;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/desert.jpg');
    background-position: center;
    background-size: cover;
}

canvas {
    background-color: black;
    display: block;
}

button {
    cursor: pointer;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.screen {
    width: 720px;
    height: 480px;
    aspect-ratio: 720/480;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .screen {
        width: 100vw;
        height: auto;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .screen {
        width: auto;
        height: 100vh;
    }
}