:root {
    --button-clr: #eead22;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'mexican', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/desert.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

canvas {
    background-color: black;
    display: block;
}

button {
    cursor: pointer;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.screen {
    width: 720px;
    height: 480px;
    aspect-ratio: 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 720px) and (pointer: fine) {
    canvas {
        width: 100%;
    }

    .screen {
        width: 100vw;
        height: auto;
    }
} 

@media only screen and (pointer: coarse) and (orientation: landscape){
    canvas {
        width: 100%;
        height: auto;
        max-height: 100%;
        aspect-ratio: 3 / 2;
    }

    .screen {
        width: 100vw;
        height: 100vh;
    }
} 

@media only screen and (pointer: coarse) and (orientation: landscape) and (min-width: 720px) and (max-width: 1000px){
    canvas {
        max-width: 720px;
    }
} 

@media (max-width: 1400px) and (orientation: portrait) and (pointer:coarse){
        .screen {
        width: 100vw;
        height: auto;
    }
}