:root{
    --button-clr: #eead22;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: black;
    display: none;
}

button{
    cursor: pointer;
}

.d-block{
    display: block!important;
}

.d-none{
    display: none!important;
}

.screen{
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}