.start-screen{
    width: 720px;
    height: 480px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & .menu-buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        width: 100%;
        & .menu-button{
            width: 64px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            border: none;
    
            & img{
                height: 100%;
            }
        }
    }


}