.start-screen {
    width: 100%;
    height: 100%;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;


    & .menu-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        width: 100%;

        & .menu-button {
            width: 64px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            border-radius: 50%;
            border: none;
            background-color: var(--button-clr);
            -webkit-box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
            box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
            transition: 0.1s ease-in-out;

            &:hover {
                scale: 1.05;
            }

            & img {
                height: 100%;
            }
        }
    }

    & .start-button {
        width: 215px;
        padding: 16px;
        background-color: var(--button-clr);
        border: white 3px solid;
        border-radius: 8px;
        font-size: 22px;
        -webkit-box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
        box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
        transition: 0.1s ease-in-out;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;

        &:hover {
            scale: 1.05;
        }

        & img {
            height: 32px;
        }
    }

    & .instructions-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgba(0, 0, 0, 0.479);
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
        padding: 48px;
        font-size: 2em;
        container-name: instructions;

        & .instructions {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & .instruction {
                display: flex;
                align-items: center;
                gap: 8px;

                & .instructions-icon {
                    width: 48px;
                }
            }
        }

    }

    & .close-btn {
        border-radius: 50%;
        border: none;
        padding: 8px;
        width: 32px;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        position: absolute;
        top: -12px;
        right: -12px;

        & img {
            width: 100%;
        }
    }

    & .policy-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 100%;
        color: white;

        &>* {
            font-family: 'Segoe UI';
        }
    }
}

@media (max-width: 720px) {
    .start-screen {
        padding: 24px;

        & .menu-buttons {
            gap: 12px;
        }
    }
}

@media (min-width: 1000px) and (orientation: landscape) and (pointer:coarse) {
    .start-screen {

        & .start-button {
            width: auto;
            padding: 24px;
            background-color: var(--button-clr);
            border: white 3px solid;
            border-radius: 8px;
            font-size: 3em;
            -webkit-box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
            box-shadow: 5px 5px 28px -4px rgba(0, 0, 0, 0.62);
            transition: 0.1s ease-in-out;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            align-items: center;

            &:hover {
                scale: 1.05;
            }

            & img {
                height: 48px;
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .start-screen {
        padding: 16px;

        & .instructions-container {
            padding: 24px;
        }
    }
}